<div class="easyui-dialog panel-defalut" style="width:600px;height:auto;" id="addMenu">
	<!-- 新增菜单管理 -->
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="addUsername">父级菜单</label>
            <div class="col-sm-4">
                <select class="form-control input-sm">
	                <option>菜单一</option>
	                <option>--菜单一</option>
	                <option>--菜单一</option>
	                <option>--菜单一</option>
	                <option>菜单二</option>
                </select>
            </div>
            <label class="col-sm-2 control-label" for="addUsername">菜单名称</label>
            <div class="col-sm-4">
                <input type="text" id="addUsername" class="form-control input-sm" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="addUsername">URL</label>
            <div class="col-sm-4">
                <input type="text" id="addUsername" class="form-control input-sm" />
            </div>
            <label class="col-sm-2 control-label" for="addUsername">菜单状态</label>
            <div class="col-sm-4">
                <label class="checkbox-inline">
                    <input type="radio" name="radio1" value="option1">正常
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="radio1" value="option1">禁止
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="addUsername">使用范围</label>
            <div class="col-sm-10">
                <textarea class="form-control input-sm"></textarea>
            </div>
        </div>
    </form>
    <script>
		$('#addMenu').dialog({
			title:'新增菜单',
			closed:false,
			modal:true,
			onClose:function(){
				$(this).dialog('destroy');
			},
			buttons:[{text:'确定',
					  handler:function(){
						  
					 }},
					 {text:'取消',
					  handler:function(){
					 	$('#addMenu').dialog('destroy');
					 }
					}]
		});
	</script>
</div>
